<div class="container">
    <h2>Registro de Docentes</h2>
    <form (ngSubmit)="onSubmit()" #docenteForm="ngForm">
        <div class="form-group">
            <label>Nombre(s)</label>
            <input type="text" class="form-control" [(ngModel)]="teacher.name" name="nombre" required>
        </div>
        <div class="form-group">
            <label>Apellido Paterno</label>
            <input type="text" class="form-control" [(ngModel)]="teacher.lastName1" name="apellidoPaterno" required>
        </div>
        <div class="form-group">
            <label>Apellido Materno</label>
            <input type="text" class="form-control" [(ngModel)]="teacher.lastName2" name="apellidoMaterno" required>
        </div>
        <div class="form-group">
            <label>Correo</label>
            <input type="email" class="form-control" [(ngModel)]="teacher.email" name="correo" required>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Carreras que imparte</mat-label>
            <mat-select multiple [(ngModel)]="teacher.majors" name="majors">
                <mat-option *ngFor="let major of allMajors" [value]="major">{{major}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Materias que imparte</mat-label>
            <mat-select multiple [(ngModel)]="teacher.courses" name="courses">
                <mat-option *ngFor="let course of allCourses" [value]="course">{{course}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <div class="form-group">
            <label>Carreras que imparte</label>
            <select multiple class="form-control" [(ngModel)]="teacher.majors" name="majors">
                <option *ngFor="let major of allMajors" [ngValue]="major">{{major}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Materias que imparte</label>
            <select multiple class="form-control" [(ngModel)]="teacher.courses" name="courses" >
                <option *ngFor="let course of allCourses" [ngValue]="course">{{course}}</option>
            </select>
        </div> -->
        <div>Selecciones actuales: {{ teacher.courses | json }}</div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                    <th *ngFor="let day of days">{{ day | titlecase }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let time of availability[days[0]]"> 
                    <td *ngFor="let day of days">
                        <input type="checkbox" [(ngModel)]="teacher.schedule[day][time]" [ngModelOptions]="{standalone: true}">
                        {{ time }}
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="button-group">
            <button type="button" class="btn cancel" (click)="onCancel()">Cancelar</button>
            <button type="submit" class="btn save">Guardar</button>
        </div>
    </form>
</div> 