<main class="container">
    <h2>Registro de Docentes</h2>
    <form (ngSubmit)="onSubmit()" #docenteForm="ngForm">
        <div class="form-row">
            <div class="form-group">
                <mat-form-field appearance="fill" class="mat-form-field">
                    <mat-label>Profesor a editar</mat-label>
                    <mat-select [(ngModel)]="teacher.id" name="courses">
                        <mat-option *ngFor="let teacher of allTeachers" [value]="teacher.Id_docente">{{teacher.Id_docente}} {{teacher.nombre_doc}} {{teacher.Apellido}} {{teacher.apei2}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="name">Nombre(s)</label>
                <input type="text" class="form-control" [(ngModel)]="teacher.name" name="nombre" id="name" required>
            </div>
            <div class="form-group">
                <label for="lastName1">Apellido Paterno</label>
                <input type="text" class="form-control" [(ngModel)]="teacher.lastName1" name="apellidoPaterno" id="lastName1" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="lastName2">Apellido Materno</label>
                <input type="text" class="form-control" [(ngModel)]="teacher.lastName2" name="lastName2" id="lastName2" required>
            </div>
            <div class="form-group">
                <label for="email">Correo</label>
                <input type="email" class="form-control" [(ngModel)]="teacher.email" name="email" id="email" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <mat-form-field appearance="fill" class="mat-form-field">
                    <mat-label>Carrera</mat-label>
                    <mat-select  [(ngModel)]="teacher.majorId" name="majors" (ngModelChange)="loadCoursesOnMajorChange()">
                        <mat-option *ngFor="let major of allMajors" [value]="major.Id_Carreras">{{major.Nombre_Carrera}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill" class="mat-form-field">
                    <mat-label>Materias que imparte</mat-label>
                    <mat-select [(ngModel)]="teacher.courseId" name="courses">
                        <mat-option *ngFor="let course of allCourses" [value]="course.Id_Materias">{{course.N_Mat}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="button-group">
            <button type="button" class="btn cancel" (click)="onCancel()">Cancelar</button>
            <button type="button" class="btn delete" (click)="onDelete()">Eliminar docente</button>
            <button type="submit" class="btn save">Guardar</button>
        </div>
    </form>
</main> 