<div class="container">
    <div class="student-home-container">
        <aside class="sidebar left">
            <div class="profile-info">
                <img [src]="teacher.profilePicture || './assets/images/User.jpg'" alt="User Icon">
                <input type="file" (change)="onFileSelectedEvent($event)" hidden #fileInput>
                <p>Bienvenido</p>
                <p>{{ teacher.name }} {{teacher.lastName1}}</p>
            </div>
            <div class="options">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-button">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="mat-menu-panel">
                <button mat-menu-item (click)="logOut()" class="mat-menu-item">Salir</button>
                <button mat-menu-item (click)="fileInput.click()" class="mat-menu-item">Cambiar foto</button>
            </mat-menu>
            </div>
            <div class="options">
                <button mat-button class="mat-button" routerLink="/view-teacher-advisorys">Revisar mis asesorias</button>
            </div>
        </aside>
        <main class="content">
            <div class="publication-section">
                <input type="text" [(ngModel)]="newPostContent" placeholder="Nueva publicación..." class="new-publication-input">
                <button (click)="postPublication()" class="btn publication">Publicar</button>
            </div>
            <div class="publications">
                <h2>Publicaciones</h2>
                <div *ngFor="let post of posts; let i = index" class="publication">
                    <p><strong>{{ post.author }}</strong> ({{ post.role }}): {{ post.content }}</p>
                    <div *ngFor="let response of post.responses" class="response">
                        <p><strong>{{ response.author }}</strong> ({{ response.role }}): {{ response.content }}</p>
                    </div>
                    <div class="responses-input">
                        <input type="text" [(ngModel)]="newResponseContent" placeholder="Responder..." class="response-input">
                        <!-- <input type="file" class="input-adjuntar" (change)="onArchivoSeleccionado($event)" #archivoInput> -->
                        <!-- <button class="boton-adjuntar"(click)="archivoInput.click()">
                            Adjuntar Archivo
                        </button> -->
                        <!-- <button (click)="reply(post.id, i, archivoSeleccionado)" class="btn response">Responder</button> -->

                    </div>
                </div>
            </div>
        </main>
        <aside class="sidebar options">
            <div class="course-list">
                <h3>Asesorias</h3>
                <ul>
                    <li *ngFor="let advisory of advisorys">{{advisory.dia}}: {{advisory.hora_inicio}}. <br> Docente: {{advisory.nombre_docente}} {{advisory.apellido_docente}}. <br>Materia: {{advisory.nombre_materia}}</li>

                </ul>
            </div>
        </aside>
    </div>
</div>

