<main>
    <div class="welcome-container">
        <div class="user-icon">
            <img [src]="userImageURL || './assets/images/User.jpg'" alt="User Icon">
            <input type="file" (change)="onFileSelectedEvent($event)" hidden #fileInput>
        </div>
        <h1>Bienvenido {{userName}}</h1>
    </div>
    <div>
        <button mat-button [matMenuTriggerFor]="menu" class="btn mat-button">Configuracion</button>
        <mat-menu #menu="matMenu" class="mat-menu-panel">
            <button mat-menu-item (click)="logOut()" class="mat-menu-item">Salir</button>
            <button mat-menu-item (click)="fileInput.click()" class="mat-menu-item">Cambiar foto</button>
        </mat-menu>
    </div>
    <div class="new-options">
        <h3>Alumnos</h3>
        <h3>Profesores</h3>
        <h3>Carreras</h3>
        <h3>Materias</h3>
    </div>
    <div class="new-options">
        <button routerLink="/new-teacher" class="admin-options">Nuevo Docente</button>
        <button routerLink="/new-student" class="admin-options">Nuevo Alumno</button>
        <button routerLink="/new-major" class="admin-options">Nueva Carrera</button>
        <button routerLink="/new-course" class="admin-options">Nueva Materia</button>
    </div>
    <div class="new-options">
        <button routerLink="/edit-major" class="admin-options">Editar Docente</button>
        <button routerLink="/new-course" class="admin-options">Editar Alumno</button>
        <button routerLink="/new-major" class="admin-options">Editar Carrera</button>
        <button routerLink="/new-course" class="admin-options">Editar Materia</button>
    </div>
    <div class="new-options">
        <button routerLink="/new-teacher" class="admin-options">Eliminar Docente</button>
        <button routerLink="/new-student" class="admin-options">Eliminar Alumno</button>
        <button routerLink="/new-major" class="admin-options">Eliminar Carrera</button>
        <button routerLink="/new-course" class="admin-options">Eliminar Materia</button>
    </div>
    <div class="new-options">
        <button routerLink="/new-major" class="admin-options">Ver Docentes</button>
        <button routerLink="/new-course" class="admin-options">Ver Alumnos</button>
        <button routerLink="/new-major" class="admin-options">Ver Carreras</button>
        <button routerLink="/new-course" class="admin-options">Ver Materias</button>
    </div>

</main>
