body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    
}

h1, h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 84px;
    align-items: center;
    text-align: center;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    align-items: center;
    text-align: center;
}

.purple-bar-header {
    background-color: #371e49;
    height: 20px;
    width: 100%;
}

.purple-bar-footer {
    background-color: #371e49;;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0; 
    font-size: small;
}


header {
    position: relative;
    background-color:#fff;
    color: #371e49;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

.uach-logo {
    width: 80px;
    height: auto;
}

.welcome-container {
    text-align: center;
    color: #371e49;
    padding: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.user-icon img {
    width: 100px;
    height: 100px;
}

button {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.configuration-button {
    background-color: #371e49;
    color: #fff;
    border: none;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 150px;
}

.new-users {
    display: flex;
    justify-content: space-around;
    
}

.admin-options {
    background-color: #371e49;
    color: #fff;
    border: none;
    display: inline-block;
    align-items: center;
}